<nav>
  <div class="profile-nav">
    <%= link_to "Api-Curious", root_path %>
    <%= link_to "Log out", logout_path, class: "menu-item" %>
  </div>
</nav>
<main>
  <section class="profile">
    <header class="profile-header">
      <div class="profile-avatar">
        <%= image_tag "" %>
      </div>
      <div class="profile-author-info">
        <h1 class="profile-username"><%= current_user.nickname %></h1>
        <div class="profile-bio">
          <h2><%= current_user.name %></h2>
          <span><%= current_user.bio %></span>
        </div>
      </div>
    </header>
  </section>
</main>
