<nav>
  <div class="home-nav">
    <%= link_to "Adamgram", root_path %>
    <%= link_to "#{current_user.nickname}", profile_path(current_user.nickname), class: "menu-item" %>
  </div>
</nav>
<main>
  <section class="home-feed">

    <% @feed_posts.each do |post| %>

      <article class="home-post">
        <header>
          <%= image_tag post.owner_profile_pic, class: "home-post-owner-avatar" %>
          <div class="home-post-owner-and-location">
            <%= link_to post.username, "#", class: "home-post-owner-user-link" %>
            <% if post.location.nil? %>
              <a href="" class="home-post-location-link">iPhone</a>
            <% else %>
              <%= link_to post.location, "#", class: "home-post-location-link" %>
            <% end %>
          </div>
          <%= link_to "1h", "#", class: "home-post-timestamp" %>
        </header>

        <div class="home-post-photo">
          <%= image_tag post.image_url %>
        </div>

        <div class="home-post-info">

          <section class="home-post-likes">
            <span><%= post.likes %> likes</span>
          </section>

          <ul class="comments">
            <% unless post.caption.nil? %>
              <li class="comment">
                <%= link_to post.caption[:username], "#", class: "comment-userlink" %>
                <span><%= post.caption[:text] %></span>
              </li>
            <% end %>
            <% post.comments.each do |comment| %>
              <li class="comment">
                <%= link_to comment.username, "#", class: "comment-userlink" %>
                <span><%= comment.text %></span>
              </li>
            <% end %>
          </ul>

          <section class="feedback">
            <%= link_to "", "#", class: "home-post-likebutton coreSpriteHeartOpen hide-text" %>
            <form class="home-post-comment-creator">
              <input type="text" value="Add a comment...">
            </form>
          </section>

        </div>
      </article>

    <% end %>

  </section>
</main>
